.App {
  visibility: hidden;
  text-align: center;
}

.App-header {
  background-color: #bdcebe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.cicle-container {
  display: flex;
  flex-direction: row;
}

.circle{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #FDCF51;
  margin: 50px;
}

.circle.red{
  background-color: red;
}

.circle.blue{
  background-color: blue;
}

.box
{
  width: 75px;
  height: 75px;
  border-radius: 0%;
}

.event-section{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.team-name{
  color: black;
}

.content-colors{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.event-color{
  width: 10%;
  height: 75px;
  justify-content: flex-end;
  flex-direction: row;
  position: static;
}

.event-color.red {
  background-color: red;
}

.event-color.blue{
  background-color: blue;
}

.event-color.gray{
  background-color: gray;
}