.App {
  visibility: hidden;
  text-align: center;
}

.App-header {
  background-color: #bdcebe;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.cicle-container {
  display: flex;
  flex-direction: row;
}

.circle{
  width: 75px;
  height: 75px;
  border-radius: 100%;
  background-color: #FDCF51;
  margin: 50px;
}

.circle.red{
  background-color: red;
}

.circle.blue{
  background-color: blue;
}

.box
{
  width: 75px;
  height: 75px;
  border-radius: 0%;
}

.event-section{
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.team-name{
  color: black;
  position: absolute;
  top: 42%;
}

.content-colors{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 320px;
  height: 75px;
}

.event-color{
  height: 20px;
  justify-content: flex-end;
  flex-direction: row;
  position: absolute;
}

.event-color.red {
  background-color: red;
}

.event-color.blue{
  background-color: blue;
  
}

.event-color.gray{
  background-color: gray;
}

.content-colors-left{
  
}

.arrow-container-left{
  margin-top: 20px;
  width: 300px;
  height: 300px;
  background: -webkit-radial-gradient(0% 100%, circle, transparent 15%, steelblue 15%) no-repeat, -webkit-radial-gradient(0% 0%, circle, transparent 15%, steelblue 15%) no-repeat, -webkit-radial-gradient(0% 0%, circle, transparent 15%, steelblue 15%) no-repeat, -webkit-radial-gradient(0% 0%, circle, transparent 15%, steelblue 15%) no-repeat;
  background: radial-gradient(circle at 100% 100%, transparent 15%, steelblue 15%) no-repeat, radial-gradient(circle at 0% 0%, transparent 15%, steelblue 15%) no-repeat, radial-gradient(circle at 0% 0%, transparent 15%, steelblue 15%) no-repeat, radial-gradient(circle at 0% 0%, transparent 15%, steelblue 15%) no-repeat;
  background-position: 100% 100%, 100% 0%, 0% 0%, 100% 100%;
  background-size: 75% 75%;
}

.talkbubble {
  margin-top: 20px;
  width: 0%;
  height: 45px;
  background: red;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 22px solid transparent;
  border-right: 46px solid red;
  border-bottom: 22px solid transparent;
  display: none;
}

body {
  background: #404040;
}

.field__competitor-name {
  dominant-baseline: middle;
  fill: #fff;
  font-family: Arial;
  font-weight: bold;
  font-size: 8px;
  text-anchor: middle;
}


.arrow-container{

}

.arrow {
  position: relative;
  width: 165px;
}

.arrow__content {
  position: absolute;
  inset: 0;
  align-items: center;
    color: #fff;
    display: flex;
    font-family: sans-serif;
    font-size: 24px;
    justify-content: center;
    line-height: 1;
}

.arrow__curtain {
  position: absolute;
  inset: 0;
}